Source: dhrystone
Section: unknown
Priority: extra
Maintainer: Chris Wilson <chris+dhrystone@qwirx.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://www.netlib.org/benchmark/dhry-c
Vcs-Git: git@github.com:qris/dhrystone-deb.git
Vcs-Browser: https://github.com/qris/dhrystone-deb

Package: dhrystone
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a popular benchmark for CPU/compiler performance measurement
 The Dhrystone benchmark program has become a popular benchmark for
 CPU/compiler performance measurement, in particular in the area of
 minicomputers, workstations, PC's and microprocesors. It apparently satisfies
 a need for an easy-to-use integer benchmark; it gives a first performance
 indication which is more meaningful than MIPS numbers which, in their literal
 meaning (million instructions per second), cannot be used across different
 instruction sets (e.g. RISC vs. CISC). With the increasing use of the
 benchmark, it seems necessary to reconsider the benchmark and to check whether
 it can still fulfill this function. Version 2 of Dhrystone is the result of
 such a re-evaluation.
